/* Style for the IFRAME container */
#iframe-container {
    margin-top: 25px;
    padding: 10px;
    border: 2px solid var(--talkdesk-purple);
    border-radius: 8px;
    height: 150px; /* Reduced height to fit at the top */
    overflow: hidden;
}

#timer-iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}